<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>

    <!-- Links to jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Links to Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Francois+One|Heebo&display=swap' rel='stylesheet'>

    <!-- Links to Bootstrap -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'
        integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa'
        crossorigin='anonymous'></script>

    <!--Links to my style sheet -->
    <link rel='stylesheet' href='/assets/css/style.css' type='text/css' />

    <title>NPR News Mongo Scraper</title>
</head>

<body>
    <nav class='navbar navbar-default navbar-fixed-top'>
        <div class='container'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='/'><b>Home</b></a>
            </div>
            <div id='navbar' class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                    <li><a href='/saved'><b>Saved Articles</b></a></li>
                    <li><button type='button' class='btn btn-info scrape-new'><b>Scrape New Articles!</b></button></li>
                </ul>
            </div>
        </div>
    </nav>

    {{{ body }}}

    <!-- Footer -->
    <footer class='footer'>
        <div class='container'>
            <p class='footerText'>NPR News Mongo Scraper 2019</p>
        </div>
    </footer>

    <!-- Scrape click event -->
    <script>
        $(document).ready(function () {
            $('.scrape-new').on('click', function () {
                $.ajax({
                    method: 'GET',
                    url: '/scrape',
                }).done(function (data) {
                    console.log(data)
                    alert('Scrape is complete!')
                    window.location = '/'
                });
            });

            // Save article click event
            $(document).ready(function () {
                $('.save').on('click', function () {
                    event.preventDefault();
                    var thisId = $(this).attr('data-id');
                    $.ajax({
                        url: '/articles/save/' + thisId,
                        type: 'POST',
                        success: function (response) {
                            window.location.href = '/';
                        },
                        error: function (error) {
                            console.log('error ' + JSON.stringify(error));
                        }
                    });
                });
            });
        });

            // Delete article click event 
            $(document).ready(function () {
                $('.delete').on('click', function () {
                    event.preventDefault();
                    var thisId = $(this).attr('data-id');
                    $.ajax({
                        url: '/articles/delete/' + thisId,
                        type: 'POST',
                        success: function (response) {
                            alert('The article was deleted!')
                            window.location.href = '/saved';
                        },
                        error: function (error) {
                            console.log('error ' + JSON.stringify(error));
                        }
                    });
                });
            });


    </script>

</body>

</html>