body {
  font-family: 'Heebo', sans-serif;
}

/* Jumbotron */
.jumbotron {
  width: 100%;
  height: 300px;
  background-image: url("../images/desk.jpg");
  background-size: cover;
}

/* Jumbotron font */
.display-4 {
  font-family: 'Francois One', sans-serif;
  color: lightgray !important; 
}

.scrape-new {
  margin-top: 7px;
}

div.col-md-12 {
  margin-left: 0;
}

/* Footer */
/* Creates sticky footer */
.footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #313131;
}

.footerText {
  color: lightgray;
  text-align: center;
  font-size: 16px;
  margin-top: 17px;
}